/* Variables. */

:root {
    --primary-color: rgb(54, 53, 53);
    --secondary-color: rgb(19, 170, 184);
    --light-text: white;
    --midlight-text: rgb(19, 170, 184);
    --dark-text: rgb(15, 62, 117);
    --pf-columns-large: repeat(2, 1fr);
    --pf-rows-large: repeat(3, auto);
    --pf-columns-small: 1fr;
    --pf-rows-small: repeat(4, auto);
    --font-size-large: 2.33em;
    --font-size-medium: 1.33em;
    --font-size-small: 1em;
  }

  /* Globals. */
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
      
  a {
    color: var(--dark-text);
  }
  
  .text-highlight {
    background-color: var(--secondary-color);
    color: var(--light-text);
    padding: 10px;
  }
  
  /* header, navbar, nav menu. */
  
  header.bg-dark {
    background-color: var(--primary-color) !important;
  }
    
  header nav a {
    color: var(--midlight-text) !important;
  }
  
  /* hero banner. */
  
  .hero-banner {
    background: center/100% no-repeat url("../images/02-hero-bg.jpg");
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 2em;
  }

  .hero-banner .avatar,
  .hero-banner .avatar img {
    width: 55%;
    text-align: center;
    background: transparent;
  }
  
  /* main - about, work, contact. */
  
  .page-wrapper {
    padding: 2.33em;
  }
  
  .page-section {
    padding: 1em;
  }
  
  .page-section .heading,
  .page-section .content {
    padding: 1em;
  }

  .page-section .heading h2 {
    color: var(--dark-text);
    font-size: var(--font-size-large);
  }

  .page-section .content {
    border-left: 1em solid var(--dark-text);
  }

  .page-section .content p {
    padding: 1em;
  }
    
  #work .portfolio {
    display: grid;
    grid-template-columns: var(--pf-columns-large);
    grid-template-rows: var(--pf-rows-large);
    grid-template-areas: 
     'main main'
     '. .'
     '. .'
     ;
  }
  
  #work .portfolio .project.highlighted {
    grid-area: main;
  }
  
  #work .portfolio .project {
    position: relative;
    max-width: 100%;
    height: 100%;
    padding: 20px;
  }

  #work .portfolio .project figure {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  #work .portfolio .project figure img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  #work .portfolio .project figure figcaption,
  #work .portfolio .project .info {
    position: absolute;
  }

  #work .portfolio .project figure figcaption {
    top: 0;
    z-index: 10;
    height: 100%;
  }

  #work .portfolio .project .info {
    bottom: 15%;
    background-color: var(--secondary-color);
    padding: 10px;
  }

  #work .portfolio .project.project.highlighted .info {
    bottom: 20%;
  }
  
  #work .portfolio .project .info h3,
  #work .portfolio .project .info h4 {
    color: var(--light-text);
  }
  
  #work .portfolio .project .info h3 {
    font-size: var(--font-size-large);
  }
  
  #work .portfolio .project .info h4 {
    font-size: var(--font-size-medium);
    display: inline-block;
  }
    
  #work .portfolio .project figure figcaption {
    opacity: 0;
    color: var(--light-text);
    font-size: var(--font-size-small);
    padding: 1em;
  }
  
  #work .portfolio .project figure figcaption {
    background: var(--primary-color);
  }
  
  #work .portfolio .project:hover figure figcaption {
    opacity: 1;
    overflow-y: scroll;
  }

  #skills .skills .card.skill {
    width: 23rem;
    margin: 1em;
  }

  #skills .skills .card.skill .card-img-top {
    width: 20%;
    margin: 10px auto;
  }

  #skills .skills .card.skill .card-title {
    color: var(--dark-text);
    font-weight: bold;
  }
  
  #contact address {
    display: block;
    margin: 0 1.33em;;
  }
  
  /* footer */
  
  footer {
    text-align: center;
    padding: 20px;
  }
  
  /* responsive breakpoints. */
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    #work .portfolio {
      grid-template-columns: var(--pf-columns-small);
      grid-template-rows: var(--pf-rows-small);
      grid-template-areas: 
      'main'
      '.'
      '.'
      '.'
      '.'
      ;
    }

    .hero-banner .avatar,
    .hero-banner .avatar img {
      display: none;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) { 
    #work .portfolio {
      grid-template-columns: var(--pf-columns-small);
      grid-template-rows: var(--pf-rows-small);
      grid-template-areas: 
      'main'
      '.'
      '.'
      '.'
      '.'
      ;
    }

    .hero-banner .avatar,
    .hero-banner .avatar img {
      display: none;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) { 
    #work .portfolio {
      grid-template-columns: var(--pf-columns-small);
      grid-template-rows: var(--pf-rows-small);
      grid-template-areas: 
      'main'
      '.'
      '.'
      '.'
      '.'
      ;
    }

    .hero-banner .avatar,
    .hero-banner .avatar img {
      width: 60%;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .hero-banner .avatar,
    .hero-banner .avatar img {
      width: 50%;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
    .hero-banner .avatar,
    .hero-banner .avatar img {
      width: 50%;
    }
  }
